<ng-container *ngIf="session$ | async as session">

    <div *ngFor="let slide of session.slides" (click)="eventBus.selectSlide(session.id, {id: slide.id})"
        style="--aspect-ratio:16/9;">
        <app-slide [class.mat-elevation-z8]="session.selectedSlideIndex == slide.index" [slide]="slide"></app-slide>

    </div>
    <button disabled mat-stroked-button>
        <mat-icon>upload_file</mat-icon> Upload Slides
    </button>
    <button disabled (click)="addSlide(session)" mat-stroked-button>
        <mat-icon>add</mat-icon> Add Slide
    </button>
</ng-container>