:host {
    display: block;
}

svg {
    width: 100%;
    height: 100%;
}

.polyline {
    fill: none;
    stroke: rgba(48, 24, 54, 0.6);
    stroke-width: 12;
    stroke-linecap: round;
    stroke-linejoin: round;
}
