html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-sidenav {
    display: flex;
}

mat-drawer {
    width: 20%;
    min-width: 200px;
    max-width: 600px;
}

@media only screen and (max-width: 1280px) {
    mat-drawer {
        width: 50%;
        min-width: 200px;
    }
}

mat-drawer-container {
    flex: 1 1 auto;
}

mat-drawer-content > *:nth-child(2) {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > img {
    height: auto;
}
@supports (--custom: property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }
    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}
