<ng-container *ngIf="session$ | async as session">
    <div id="canvas" [ngStyle]="{margin: margin}" class="mat-elevation-z4" style="--aspect-ratio:16/9;">
        <app-slide (touchstart)="touchstart(session, $event)" (touchmove)="touchmove(session, $event)"
            (touchend)="touchend(session, $event)" (mousedown)="mousedown(session, $event)"
            (mousemove)="mousemove(session, $event)" (mouseup)="mouseup(session, $event)"
            [slide]="session.slides[session.selectedSlideIndex]"></app-slide>
    </div>
</ng-container>