<div #app *ngIf="session$ | async as session" class="app-wrapper">
  <mat-toolbar color="primary">
    <button [disabled]="!session.session" (click)="toggleMenu()" mat-icon-button aria-label="Toggle Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>slidezy</h1>

    <h1 *ngIf="session.session" class="title-link">.app/{{session.session.id}}</h1>
    <div class="flex-1"></div>
    <div>
      <button mat-raised-button [style.backgroundColor]="session.session?.pencil.color"
        (click)="colorPaletteOpen = !colorPaletteOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        Color
      </button>
      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="colorPaletteOpen">
        <app-color-picker (colorChanged)="setColor(session.session.id, $event)"></app-color-picker>
      </ng-template>

      <button [disabled]="session.session?.slides[session.session?.selectedSlideIndex]?.paths?.length == 0"
        (click)="removeLastPath(session.session)" mat-icon-button>
        <mat-icon>undo</mat-icon>
      </button>
      <button [disabled]="session.session?.slides[session.session?.selectedSlideIndex]?.paths?.length == 0"
        (click)="clearSlidePaths(session.session)" mat-icon-button>
        <mat-icon>backspace</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="enterFullscreen('app')" mat-menu-item>
          <mat-icon>tablet_mac</mat-icon>
          <span>Enter App Fullscreen</span>
        </button>
        <button (click)="enterFullscreen('canvas')" mat-menu-item>
          <mat-icon>tv</mat-icon>
          <span>Enter Canvas Fullscreen</span>
        </button>
      </mat-menu>
    </div>

  </mat-toolbar>
  <mat-drawer-container autosize #matDrawer class="example-container">
    <mat-drawer *ngIf="session.session" #drawer (click)="drawerClick(drawer)" (openedChange)="opened = $event"
      [mode]="drawerMode" [opened]="opened">
      <app-slide-list></app-slide-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>